<h1>Hey there, looking for a friend?</h1>

<% @profiles.each do |profile| %>
  <% if current_user.profile != profile %>
    <h3>
        <%= gravatar_image_tag(profile.user.email, :alt => "#{profile.username}") %>
        Username: <%= profile.username %></h3>
    <h4>Age: <%= profile.age %></h4>
    <% if @reserved.exclude?(profile) %>
      <%= render 'friendship_requests/form', profile: profile %>
    <% elsif @requested_profiles.include?(profile) %>
      <p>You have already sent friend request to them!</p>
    <% elsif @invited_profiles.include?(profile) %>
      <p>They sent you a friend request already!</p>
    <% elsif current_user.profile.friends.include?(profile) %>
      <p>They already are your friend</p>
    <% end %>
    <br><br>
  <% end %>
<% end %>
